<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/Syvak?useUnicode=true&amp;serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">password</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="com.syvak.model.entity.Agency"/>
        <mapping class="com.syvak.model.entity.Animator"/>
        <mapping class="com.syvak.model.entity.Award"/>
        <mapping class="com.syvak.model.entity.Custom"/>
        <mapping class="com.syvak.model.entity.Discounts"/>
        <mapping class="com.syvak.model.entity.Holiday"/>
        <mapping class="com.syvak.model.entity.ReviewAgency"/>
        <mapping class="com.syvak.model.entity.ReviewAnimators"/>


    </session-factory>
</hibernate-configuration>